<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheet/home.css" />
    <title>Home</title>
  </head>
  <body class="d-flex text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">MyCamp</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav"></div>
          </div> -->
          <div class="navbar-nav ml-auto">
            <a class="nav-link" href="/campgrounds">Campground</a>
            <%if(!currentUser){ %>
            <a class="nav-link" href="/login">Login</a>
            <a class="nav-link" href="/register">Register</a>
            <% }else { %>
            <a class="nav-link" href="/logout">Logout</a>
            <% } %>
          </div>
        </div>
      </nav>
      <main class="px-3 mt-5">
        <h1>My Camp</h1>
        <p class="lead">
          Welcome to MyCamp <br />
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
          magnam obcaecati libero provident, accusantium natus amet explicabo
          placeat et ab. Sint consequuntur, doloremque quam aspernatur doloribus
          laudantium tempora, totam pariatur ex sit praesentium architecto vitae
          mollitia corporis error excepturi
        </p>
      </main>
      <footer class="footer py-3 mt-auto">
        <div class="container">
          <span class="text-muted">&copy; MyApp 2022</span>
        </div>
      </footer>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
